/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #f2f2f2;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.board-list {
    position: relative;
    z-index: 1;
    background: rgb(141, 194, 111);
    max-width: 480px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

a {
    color: rgb(141, 194, 111);
}

.board-list ul {
    list-style: none;
}
.board-list ul a{
     color: #f2f2f2;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

h1 {
    text-align:center;
    font-size:60px;
    font-family: "Roboto", sans-serif;
}

#container {
    margin: 0 auto;
}

p {
    text-align: center;
}

nav {
    background-color: rgb(141, 194, 111);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display:inline-block;
    background-color: rgb(141, 194, 111);
}

nav a {
    display:block;
    padding:0 10px;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
    color: #f2f2f2;
}

nav a:hover {
    background-color: #f2f2f2;
    color: rgb(141, 194, 111);
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:300px;
    float:none;
    display:list-item;
    position: relative;
}
/* Change this in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }