<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="/login" th:object="${loginRequest}">
            <p class="success-text"><span th:text="${userRegistered}"></span></p>
            <input type="text" name="login" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
            <p class="error-text"><span th:text="${loginError}"></span></p>
        </form>
    </div>
</div>
</body>
</html>