<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<h1>Login successful</h1>
<h1> Welcome <span th:text="${session.user.getLogin()}"></span></h1>
<ul th:each="board : ${session.user.getBoards()}">
    <li><a th:href="${'board/'+board.getId()}" th:text="${board.getName()}"></a></li>
</ul>

<a href="/createboard">Create a new Board</a>
<a href="/joinboard">Join a Board</a>
<a href="/signout">Sign Out</a>
</body>
</html>